<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="SushiGo.Installer" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="0a8e0776-098b-4e87-920d-92762d487284">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
