<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
    <deck>
        <generation parameters="tempura" number="14"/>
        <generation parameters="sashimi" number="14"/>
        <generation parameters="ravioli" number="14"/>
        <generation parameters="maki 1" number="6"/>
        <generation parameters="maki 2" number="12"/>
        <generation parameters="maki 3" number="8"/>
        <generation parameters="sushi saumon" number="10"/>
        <generation parameters="sushi calamar" number="5"/>
        <generation parameters="sushi omelette" number="5"/>
        <generation parameters="dessert" number="10"/>
        <generation parameters="wasabi" number="6"/>
        <generation parameters="baguette" number="4"/>
    </deck>
</configuration>